* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.link-hover {
  /* textDecoration: none; */
  text-decoration: none;
  color: #9B9B9B;
}

.link-hover:hover {
  color: #418BF9;
  /* text-decoration: underline; */
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: black;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
  /* moon icon color */
}

.fa-sun {
  color: #f39c12;
  /* sun icon color */
}

.checkbox-label .ball {
  background-color: #fff;
  /* default ball color */
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
  /* move ball to the right when checked */
}

/* Support me if you like it */
.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  /* support link color */
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
  /* scale up on hover */
}

/* src/Component/QuerloWidget.css */
.querlo {
  height: 230px;
  /* Set your desired height here */
  width: 100%;
  /* z-index: -1; */
  margin-bottom: 300px;
  /* Optionally, set the width */
}